<style>
    .blog-page {
        margin: 0 auto;
    }

    .blog-page .blog-box .blog-img {
        margin-bottom: 20px;
    }

    .blog-page .blog-box .blog-img img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .blog-page .blog-box .blog-txt h2 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .blog-page .blog-box .blog-txt p {
        font-size: 18px;
        line-height: 2  8px;
    }

    .blog-page .blog-box .blog-txt .date {
        font-size: 14px;
        color: #b9b2b2;

    }

    .blog-page .blog-box .blog-txt .date hr {
        width: 100%;
        margin: 10px 0;
    }

    .blog-page .blog-box .blog-txt .social a {
        font-size: 20px;
        color: #b9b2b2;
        margin-right: 10px;

    }
{{!-- 
    .blog-related {
        margin-top: 50px;
    }

    .blog-related h2 {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .blog-related .blog-box .blog-img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .blog-related .blog-box .blog-txt h2 {
        font-size: 25px;
        margin-bottom: 10px;
        color: #ffffff;

    }

    .blog-related .blog-box .blog-txt p {
        font-size: 15px;
        line-height: 25px;
        color: #ffffff;
    }

    .blog-related .blog-box .blog-txt .date {
        font-size: 12px;
        color: #ffffff;
    }

    .blog-related .blog-box .blog-txt .date hr {
        margin: 5px 0;
    }

    .blog-related .blog-box .blog-txt .social a {
        font-size: 15px;
        color: #ffffff;
        margin-right: 10px;

    }

    .blog-related .blog-box {
        border: 1px solid #42929d;
        background-color: #42929d;
        transition: all 0.3s ease-in-out;

    }

    .blog-related .blog-box:hover {
        border: 1px solid #ffffff;
    }

    .blog-related a {
        text-decoration: none;
        color: #ffffff;
    } --}}

    .feed-container {
        border: 1px solid #42929d;
        transition: all 0.3s ease-in-out;
    }

    .feed-container:hover {
        border: 1px solid #ffffff;
    }
</style>
<section>
    <div class="container">
        <div class="blog-page pt-4 pb-5 ps-md-5 ps-2 pe-md-5 pe-2">

            <div class="row">
                <div class="">
                    <div class="blog-box">
                        {{#each feeds}}
                        <a href="/feeds/{{this._id}}"></a>
                        <div class="shadow-sm p-2 feed-container">
                            <div class="blog-img">
                                <img src="/images/uploads/{{this.photo}}" alt="#" />
                            </div>
                            <div class="blog-txt p-3">
                                <h2>{{this.title}}</h2>
                                <p class="word-break">{{this.content}}</p>
                                <div class="date">
                                    <hr>
                                    <div class="d-flex">
                                        <div class="flex-grow-1">
                                            <span>{{this.date}}</span>
                                        </div>
                                        <div class="social">
                                            <a href="https://www.facebook.com/profile.php?id=61552263635010"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                                            <a href="https://www.youtube.com/@darulirfan8161"><i class="fa fa-youtube"
                                                    aria-hidden="true"></i></a>
                                            <a href="https://whatsapp.com/channel/0029Va8uXSD9RZAXMrkoD43l"><i
                                                    class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{!-- <div class="blog-related pb-5">
                            <h2>Related Posts</h2>
                            <div class="row g-3">
                                {{#each relatedFeeds}}
                                <div class="col-md-4">
                                    <a href="/feeds/{{this._id}}">
                                        <div class="blog-box">
                                            <div class="blog-img">
                                                <img src="/images/uploads/{{this.photo}}" alt="#" />
                                            </div>
                                            <div class="blog-txt p-3">
                                                <h2>{{this.title}}</h2>
                                                <p>{{this.description}}</p>
                                    </a>
                                    <div class="date">
                                        <hr>
                                        <div class="d-flex">
                                            <div class="flex-grow-1">
                                                <span>{{this.date}}</span>
                                            </div>
                                            <div class="social">
                                                <a href="https://www.facebook.com/profile.php?id=61552263635010"><i
                                                        class="fa fa-facebook" aria-hidden="true"></i></a>
                                                <a href="https://www.youtube.com/@darulirfan8161"><i
                                                        class="fa fa-youtube" aria-hidden="true"></i></a>
                                                <a href="https://whatsapp.com/channel/0029Va8uXSD9RZAXMrkoD43l"><i
                                                        class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}} --}}
                    </div>
                </div>


            </div>
        </div>
    </div>

    </div>
    </div>
    </div>
    </div>
    </div>


    </div>
    </div>
</section>