<style>
    .form-tables thead tr th {
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #42929d;
        color: #fff;

    }

    .form-control {
        border-radius: 0px;
        border: 1px solid #42929d;
        margin-top: 20px;
        border-width: 1px;
    }

    .form-control:focus {
        border-color: #42929d;
        box-shadow: 2px #42929d;
    }

    .form-tables tbody tr td {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .form-tables tbody tr td a {
        color: #000000;
        text-decoration: none;
    }

    .form-tables tbody tr td a:hover,
    .form-tables tbody tr td a:focus {
        color: #42929d;
        text-decoration: none;
    }

    .form-tables .add-btn {
        background-color: #42929d;
        color: #fff;
        padding: 10px 20px;
        border: 1px solid #42929d;
        border-radius: 0px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .form-tables .add-btn:hover {
        background-color: #fff;
        color: #42929d;
    }

    .modal-content {
        border-radius: 0px;
    }

    .nav-tabs .nav-link.active {
        color: #fff;
        background-color: #42929d;
        transition: all 0.3s ease-in-out;
        border: 1px solid #42929d;
    }

    .nav-tabs .nav-link {
        color: #42929d;
        background-color: #e5f7f9;
        border: 1px solid #42929d;
        margin-right: 5px;
        border-radius: 10px 10px 0px 0px;
        transition: all 0.3s ease-in-out;
    }

    .nav-tabs .nav-link:hover {
        color: #fff;
        background-color: #42929d;
        border: 1px solid #42929d;
    }

    .nav-tabs {
        border-bottom: #42929d 1px solid;
    }

    /* Ensure new-doc styles are applied correctly */
    .form-tables tbody tr.new-doc td {
        color: #42929d !important;
        /* Change font color for new documents */
    }

    .form-tables tbody tr.new-doc td a {
        color: #42929d !important;
        /* Ensure link color is also updated */
    }
   .scoreboardButton {
    text-decoration: none;
    margin-left: 1000px;
    --bs-btn-bg: #42929d;
    --bs-btn-border-color: #42929d;
    --bs-btn-hover-bg: #fff;
    --bs-btn-hover-color: #000000;
    --bs-btn-hover-border-color: #42939e;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #3e8e99;
    --bs-btn-active-border-color: #3e8e99;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #66a9af;
    --bs-btn-disabled-border-color: #66a9af;
}
</style>



<!-- Bootstrap Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000" aria-label="Image Carousel">
    <!-- Indicators -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>

    <!-- Carousel Items -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.postimg.cc/T3wpShk5/logo-for-web.jpg" class="d-block w-100" alt="Logo">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/fTRGcDFR/IMG-7952.jpg" class="d-block w-100" alt="Image 2">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/26THyBCF/IMG-7962.jpg" class="d-block w-100" alt="Image 3">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/zBqDC4KS/siri.jpg" class="d-block w-100" alt="Image 4">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/pdfXnPhL/cortana.jpg" class="d-block w-100" alt="Image 5">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/3wsm3rMr/alexa.jpg" class="d-block w-100" alt="Image 6">
        </div>
        <div class="carousel-item">
            <img src="https://i.postimg.cc/c4kKs1wq/bixby.jpg" class="d-block w-100" alt="Image 7">
        </div>
    </div>

    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>






<section id="second-content" class="content pt-5 pb-5">
    <div class="container">
        <h2 class="text-center">Fest Documents</h2>  
        <span class="title-span"></span>
        <a href="/arts-scoreboard"class="btn btn-success ms-auto scoreboardButton">Score board</a>
        <div class="form-tables table-bordered border-primary mt-5">
            {{!-- <input id="searchbar" onkeyup="searchFunction()" class="form-control searchbar"
                onkeyup="search_animal()" type="text" name="search" placeholder="Search Forms..."> --}}
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="academics-tab-pane" role="tabpanel"
                    aria-labelledby="academics-tab" tabindex="0">
                    <div>
                        <input id="searchbarAC" onkeyup="searchFunctionAC()" class="form-control searchbar" type="text"
                            name="search" placeholder="Search Forms...">
                    </div>
                    <div class="table-responsive">
                        <table class="table mt-4 table-bordered table-hover" id="myTableAC">
                            <thead>
                                <tr class="text-center">
                                    <th scope="col">SI.No</th>
                                    <th scope="col">Form Title</th>
                                    <th scope="col">Section</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Download</th>
                                    <th scope="col">View</th>
                                    {{#if admin}}
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                    {{/if}}
                                    <th scope="col">Updated Date</th>
                                </tr>

                            </thead>
                            <tbody id="tableRows">
                                {{#if admin}}
                                {{#each festDocuments}}
                                <tr class="text-center">
                                    <td scope="row" class="create_index">{{inc @index}}</td>
                                    {{!-- <td hidden>{{this._id}}</td> --}}
                                    <td class="text-start" hidden>{{this.formNames}}</td>
                                    <td>{{this.formTitle}}</td>
                                    <td>{{this.formSection}}</td>
                                    <td>{{this.formCategory}}</td>
                                    <td><a href="{{this.fileURLD}}">Download
                                            <i class="fa-solid fa-download"></i></a></td>
                                    <td><a href="{{this.fileURLV}}" target="_blank">View
                                            <i class="fa-solid fa-eye"></i></a></td>

                                    <td><a href="/admin/delete-fest-form/{{this._id}}"><i class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal"
                                            data-id="{{this._id}}" data-title="{{this.formTitle}}"
                                            data-section="{{this.formSection}}" data-category="{{this.formCategory}}"
                                            data-urlv="{{this.fileURLV}}" data-urld="{{this.fileURLD}}">
                                            <i class="fa-solid fa-edit"></i>
                                        </a>
                                    </td>
                                    <td data-date="{{this.updatedAt}}">{{this.updatedAt}}</td>
                                </tr>
                                {{/each}}
                                {{else}}
                                {{#each festDocuments}}
                                <tr class="text-center">
                                    <td scope="row" class="create_index">{{inc @index}}</td>
                                    {{!-- <td hidden>{{this._id}}</td> --}}
                                    <td class="text-start" hidden>{{this.formNames}}</td>
                                    <td>{{this.formTitle}}</td>
                                    <td>{{this.formSection}}</td>
                                    <td>{{this.formCategory}}</td>
                                    <td><a href="{{this.fileURLD}}">Download
                                            <i class="fa-solid fa-download"></i></a></td>
                                    <td><a href="{{this.fileURLV}}" target="_blank">View
                                            <i class="fa-solid fa-eye"></i></a></td>
                                    <td data-date="{{this.updatedAt}}">{{this.updatedAt}}</td>


                                    {{!-- <td><a href="/admin/delete-fest-form/{{this._id}}"><i
                                                class="fa-solid fa-trash"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#" class="edit-btn" data-bs-toggle="modal" data-bs-target="#editModal"
                                            data-id="{{this._id}}" data-title="{{this.formTitle}}"
                                            data-section="{{this.formSection}}" data-category="{{this.formCategory}}"
                                            data-url="{{this.fileURL}}">
                                            <i class="fa-solid fa-edit"></i>
                                        </a>
                                    </td> --}}

                                </tr>
                                {{/each}}
                                {{/if}}




                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{!-- <div class="table-responsive">
                <table class="table mt-5 table-bordered table-hover" id="myTable">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">SI.No</th>
                            <th scope="col">Form Name</th>
                            <th scope="col">Form Type</th>
                            <th scope="col">Category</th>
                            <th scope="col">Download</th>
                            {{#if admin}}
                            <th scope="col">Delete</th>
                            {{/if}}
                        </tr>

                    </thead>
                    <tbody id="tableRows">
                        {{#if admin}}
                        {{#each forms}}
                        <tr class="text-center">
                            <td scope="row" class="create_index">{{inc @index}}</td>
                            <td class="text-start">{{this.formName}}</td>
                            <td>{{this.formType}}</td>
                            <td>{{this.formCategory}}</td>
                            <td><a href="{{this.fileURL}}">Download
                                    <i class="fa-solid fa-download"></i></a></td>
                            <td><a href="/admin/delete-form/{{this._id}}"><i class="fa-solid fa-trash"></i> </a></td>
                        </tr>
                        {{/each}}
                        {{else}}
                        {{#each forms}}
                        <tr class="text-center">
                            <td scope="row" class="create_index">{{inc @index}}</td>
                            <td class="text-start">{{this.formName}}</td>
                            <td>{{this.formType}}</td>
                            <td>{{this.formCategory}}</td>
                            <td><a href="{{this.fileURL}}">Download
                                    <i class="fa-solid fa-download"></i></a></td>
                        </tr>
                        {{/each}}

                        {{/if}}

                    </tbody>
                </table>
            </div> --}}
            {{#if admin}}

            <!-- Button trigger modal -->
            <button class="add-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Form</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="/admin/add-docs" method="POST">
                                <div class="mb-3">
                                    <label for="formTitle" class="form-label">Form Title</label>
                                    <input type="text" class="form-control" id="formTitle" name="formTitle"
                                        placeholder="Enter Form Title" required>
                                </div>
                                <div class="mb-3">
                                    <label for="formSection" class="form-label">Category</label>
                                    <input type="text" class="form-control" id="formSection" name="formSection"
                                        placeholder="Enter Category (Arts or Sports)" required>
                                </div>
                                <div class="mb-3">
                                    <label for="formCategory" class="form-label">Section</label>
                                    <input type="text" class="form-control" id="formCategory" name="formCategory"
                                        placeholder="Enter Section" required>
                                </div>
                                <div class="mb-3">
                                    <label for="fileURL" class="form-label">File URL</label>
                                    <input type="text" class="form-control" id="fileURLV" name="fileURLV"
                                        placeholder="Enter Form File URL " required>
                                    <input style="display: none;" class="form-control" id="fileURLD" name="fileURLD"
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary">Add Form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Edit Modal -->
            <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Add a new Form</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="/admin/edit-fest-docs" method="POST">
                                <input type="hidden" name="id" id="edit-id">
                                <div class="mb-3">
                                    <label for="editTitle" class="form-label">Form Title</label>
                                    <input type="text" class="form-control" id="editTitle" name="formTitle" required>
                                </div>
                                <div class="mb-3">
                                    <label for="editSection" class="form-label">Section</label>
                                    <input type="text" class="form-control" id="editSection" name="formSection"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="editCategory" class="form-label">Category</label>
                                    <input type="text" class="form-control" id="editCategory" name="formCategory"
                                        required>
                                </div>
                                <div class="mb-3">
                                    <label for="editfileURL" class="form-label">File URL</label>
                                    <input type="text" class="form-control" id="editfileURLV" name="fileURLV"
                                        placeholder="Enter Form File URL " required>
                                    <input style="display: none;" class="form-control" id="editfileURLD" name="fileURLD"
                                        required>
                                </div>
                                <button type="submit" class="btn btn-primary">Edit Form</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{/if}}


        </div>
    </div>
</section>
<script>

    function searchFunctionAC() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchbarAC");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTableAC");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {   
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    //fest
    document.addEventListener('DOMContentLoaded', function () {
        const editButtons = document.querySelectorAll('.edit-btn');

        editButtons.forEach(button => {
            button.addEventListener('click', function () {
                const id = this.getAttribute('data-id');
                const title = this.getAttribute('data-title');
                const section = this.getAttribute('data-section');
                const category = this.getAttribute('data-category');
                const urlv = this.getAttribute('data-urlv');
                const urld = this.getAttribute('data-urld');

                document.getElementById('edit-id').value = id;
                document.getElementById('editTitle').value = title;
                document.getElementById('editSection').value = section;
                document.getElementById('editCategory').value = category;
                document.getElementById('editfileURLV').value = urlv;

                // Update editfileURLD based on editfileURLV
                const directLink = convertDriveLink(urlv);
                document.getElementById('editfileURLD').value = directLink;
            });
        });
    });
    function convertDriveLink(url) {
        const regex = /\/file\/d\/([^\/]+)\/view/;
        const match = url.match(regex);
        if (match) {
            const fileId = match[1];
            return `https://drive.google.com/uc?export=download&id=${fileId}`;
        } else {
            console.error('Invalid Google Drive link format:', url);
            return '';
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        // Get the elements by their ID
        const fileURLV = document.getElementById('fileURLV');
        const editfileURLV = document.getElementById('editfileURLV');
        const fileURLD = document.getElementById('fileURLD');
        const editfileURLD = document.getElementById('editfileURLD');

        // Function to update the direct download links
        function updateDirectLinks() {
            // Update fileURLD
            if (fileURLV) {
                fileURLD.value = convertDriveLink(fileURLV.value);
            }
            // Update editfileURLD
            if (editfileURLV) {
                editfileURLD.value = convertDriveLink(editfileURLV.value);
            }
        }

        // Add event listeners for both input fields
        if (fileURLV) {
            fileURLV.addEventListener('input', updateDirectLinks);
        }
        if (editfileURLV) {
            editfileURLV.addEventListener('input', updateDirectLinks);
        }
    });
    document.addEventListener("DOMContentLoaded", function () {
        const rows = document.querySelectorAll("#tableRows tr");
        const thresholdDate = new Date(); // Define a threshold for new documents
        thresholdDate.setDate(thresholdDate.getDate() - 1); // Set threshold to 1 day ago

        rows.forEach(row => {
            const updatedDateText = row.querySelector("td[data-date]").getAttribute("data-date");
            const updatedDate = new Date(updatedDateText);

            if (updatedDate >= thresholdDate) {
                row.classList.add("new-doc");
            } else {
                row.classList.remove("new-doc");
            }
        });
    });
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        var toast = new bootstrap.Toast(toastEl)
        toast.show()
        return toast
    })



</script>
