<style>
    .toast {
        width: 240px;
    }

    .toast .toast-header img {
        height: 20px;
        object-fit: cover;
    }

    .toast .toast-body .btn {
        background-color: #42929d;
        border: none;
        color: #ffffff;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        border-radius: 0px;
    }

    .toast .toast-body .btn:hover {
        background-color: #42929d;
        color: #ffffff;
    }
</style>

<section class="" id="home">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            {{#if carousel.[1]}}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            {{/if}}
            {{#if carousel.[2]}}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            {{/if}}
            {{#if carousel.[3]}}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            {{/if}}
            {{#if carousel.[4]}}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                aria-label="Slide 5"></button>
            {{/if}}
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/images/uploads/notifications/{{carousel.[0].notiImage}}" class="d-block w-100" alt="...">
                <div class="overlay" style="">

                </div>
                <div class="carousel-caption mb-0 mb-md-5 text-start">
                    <h2>{{carousel.[0].title}}</h2>
                    <p>{{carousel.[0].description}}</p>
                    {{#if carousel.[0].notiLinks}}
                    <a href="{{carousel.[0].notiLinks}}">
                        <button class="btn">Know More</button>
                    </a>
                    {{/if}}
                </div>

            </div>
            {{#if carousel.[1]}}
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/uploads/notifications/{{carousel.[1].notiImage}}" class="d-block w-100" alt="...">
                <div class="overlay" style="">

                </div>
                <div class="carousel-caption mb-0 mb-md-5 text-center text-md-start">
                    <h2>{{carousel.[1].title}}</h2>
                    <p>{{carousel.[1].description}}</p>
                    {{#if carousel.[1].notiLinks}}
                    <a href="{{carousel.[1].notiLinks}}">
                        <button class="btn">Know More</button>
                    </a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{#if carousel.[2]}}
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/uploads/notifications/{{carousel.[2].notiImage}}" class="d-block w-100" alt="...">
                <div class="overlay" style="">

                </div>
                <div class="carousel-caption mb-0 mb-md-5 text-center text-md-start">
                    <h2>{{carousel.[2].title}}</h2>
                    <p>{{carousel.[2].description}}</p>
                    {{#if carousel.[2].notiLinks}}
                    <a href="{{carousel.[2].notiLinks}}">
                        <button class="btn">Know More</button>
                    </a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{#if carousel.[3]}}
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/uploads/notifications/{{carousel.[3].notiImage}}" class="d-block w-100" alt="...">
                <div class="overlay" style="
        background-image: linear-gradient(0.35turn, #ffee00, #ffffff);">

                </div>
                <div class="carousel-caption mb-0 mb-md-5 text-center text-md-start">
                    <h2>{{carousel.[3].title}}</h2>
                    <p>{{carousel.[3].description}}</p>
                    {{#if carousel.[3].notiLinks}}
                    <a href="{{carousel.[3].notiLinks}}">
                        <button class="btn">Know More</button>
                    </a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
            {{#if carousel.[4]}}
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/uploads/notifications/{{carousel.[4].notiImage}}" class="d-block w-100" alt="...">
                <div class="overlay" style="
        background-image: linear-gradient(0.35turn, #d400ff, #ffffff);">

                </div>
                <div class="carousel-caption mb-0 mb-md-5 text-center text-md-start">
                    <h2>{{carousel.[4].title}}</h2>
                    <p>{{carousel.[4].description}}</p>
                    {{#if carousel.[4].notiLinks}}
                    <a href="{{carousel.[4].notiLinks}}">
                        <button class="btn">Know More</button>
                    </a>
                    {{/if}}
                </div>
            </div>
            {{/if}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="about pt-5 sec-1" id="about">
    <div class="container ad-ad position-relative">
        <div class="about-div">
            <div class="row p-5">
                <div class="col-md-7 animate d-flex align-items-start flex-column mb-3" style="height: 500px;">
                    <div class="col-12 mb-auto">
                        <h1>About us</h1>
                    </div>
                    <div class="col-12">
                        <p>Darul Irfan Islamic Academy, nestled on the historical mountain of
                            Variyamkunn facing the serene beauty of River Kadalundi of Kerala, India, has been a
                            standing beacon of knowledge and faith since 2014. Affiliated with the renowned Darul Huda
                            Islamic University, our Academy takes pride in its dedication to provide an exceptional
                            education that blends traditional Islamic education with modern academic grounding. </p>
                        <a href="/about">
                            <button class="btn">Know More</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 animate ms-auto me-auto d-none d-md-block">
                    <div class="about-vid">

                        <video src="/videos/Sibaq 22.mp4" controls loop autoplay muted style="pointer-events: none;"></video>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section class="pt-5 pb-5 sec-1" id="mvv">
    <div class="container">
        <div class="row g-5 ps-md-0 ps-4 pe-md-0 pe-4">
            <div class="col-md-4">
                <div class="animate m-v-v text-center p-3 d-flex align-items-center flex-column">
                    <i class="fa-solid fa-bullseye mb-2"></i>
                    <h5>Our Mission</h5>
                    <p>Darul Irfan targets to mold an Islamic educational framework in order to prepare religious
                        scientists (‘Ulama) who practice, propagate Islam, and are capable of competing the shifting
                        trends of modern education and offer a holistic and comprehensive material education.</p>
                    <a class="mt-auto" href="/about/visionaries">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="animate m-v-v text-center p-3 d-flex align-items-center flex-column">
                    <i class="fa-solid fa-eye mb-2"></i>
                    <h5>Our Vision</h5>
                    <p>Darul Irfan aims to be the bastion of expertise in Islamic education that can retrieve the
                        educational legacy of past Muslim society, Islamize the knowledge, and that seek to rekindle the
                        spirit of scholarship in Islamic sciences in the era of modern sciences. <br> <br>
                    </p>
                    <a class="mt-auto" href="/about/visionaries">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="animate m-v-v text-center p-3 d-flex align-items-center flex-column">
                    <i class="fa-solid fa-gem mb-2"></i>
                    <h5>Our Values</h5>
                    <p>Darul Irfan looks forward to achieving the standards of quality teaching, presenting Islam to
                        success in this life and beyond, and producing academically distinctive graduates and experts
                        who will meet the religious and educational needs of the Muslim Community. <br><br></p>
                    <a class="mt-auto" href="/about/visionaries">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="status" class="pt-5 pb-5 sec-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center status-item">
                <div class="d-flex justify-content-center">
                    <h2 class="value" akhi="300">0</h2>
                    <h2> +</h2>
                </div>

                <span></span>
                <p>Students</p>
            </div>
            <div class="col-md-4 text-center status-item">
                <div class="d-flex justify-content-center">
                    <h2 class="value" akhi="20">0</h2>
                    <h2> +</h2>
                </div>

                <span></span>
                <p>Teachers</p>
            </div>
            <div class="col-md-4 text-center status-item">
                <div class="d-flex justify-content-center">
                    <h2 class="value" akhi="40">0</h2>
                    <h2> +</h2>
                </div>

                <span></span>
                <p>Subjects</p>
            </div>
        </div>

    </div>
</section>
<section class="facilities-sec pt-5 pb-5 sec-2" id="facilities">
    <div class="container text-center">
        <h2>Our Facilities</h2>
        <p>Facilities we provide to enpower Learning atmosphere</p>
        <div class="row pt-5 gy-5 ps-md-0 ps-4 pe-md-0 pe-4">
            <div class="col-md-4">
                <div class="card animate" style="--i:0">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <h5 class="card-title">LIBRARY</h5>
                        <p class="card-text">Our library boasts a vast collection of books and publications covering a
                            wide range of Islamic topics, from theology and jurisprudence to history and literature.
                            Students can also find literary works in Four languages i.e. Arabic, English, Urdu, and
                            Malayalam making it a precious resource for our community. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:1">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-computer"></i>
                        </div>
                        <h5 class="card-title">COMPUTER LAB</h5>
                        <p class="card-text">With an internet connection, our modern computer lab fuels digital
                            exploration with Windows, Ubuntu, Adobe, Visual Studio Code, etc. Whether they are learning
                            typing from basic applications to advanced programming, students can develop their expertise
                            to thrive in the digital age under the guidance of IT teachers in charge. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:2">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-flask"></i>
                        </div>
                        <h5 class="card-title">SCIENCE LAB</h5>
                        <p class="card-text">Our cutting-edge science lab, brimming with modern equipment, ignites
                            student minds and deepens their understanding with curiosity as textbook concepts leap off
                            the page. Here, experts guide students, transforming scientific theories into practical
                            experiences and witnessing the wonders of science being brought to life. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:3">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-tv"></i>
                        </div>
                        <h5 class="card-title">SMART CLASSROOMS</h5>
                        <p class="card-text">All our ten classrooms are smart at the technical level as they are
                            equipped with Android Smart TVs with free Wi-Fi connection throughout their career. This
                            advanced technology creates an engaging and dynamic learning environment where students can
                            actively participate in lessons where teachers make their virtual presentations enjoyable. <br><br>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:4">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <h5 class="card-title">CONFERENCE HALL</h5>
                        <p class="card-text">Our spacious meeting hall is the perfect venue for a wide range of events
                            and gatherings, from seminars and workshops to cultural events and celebrations. With its
                            modern amenities and comfortable seating, the conference hall provides a welcoming space for
                            our community to come together and learn, share, and celebrate. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:4">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <h5 class="card-title">RESEARCH AREA</h5>
                        <p class="card-text">Unveiling knowledge through Islamic lens, our research area is a house of
                            collections from Quranic exegesis (Thafseer) and Hadith Commentaries (Sharh) to research
                            journals in social science that delve deep into the intricacies of Islamic Jurisprudence
                            (Fiqh), illuminating the dynamic interplay between tradition and contemporary challenges in
                            Muslim societies. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:9">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-mosque"></i>
                        </div>
                        <h5 class="card-title">GRAND MASJID</h5>
                        <p class="card-text">The Grand Masjid is the spiritual heart of our academy, providing a space
                            for students, faculty, and staff to come together for prayer and spiritual gatherings. The
                            mosque's serene atmosphere and modern architecture create a sense of peace and tranquility,
                            making it a haven for spiritual growth and connection. <br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:10">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                        <h5 class="card-title">CANTEEN</h5>
                        <p class="card-text">Our canteen provides students with a variety of healthy and delicious meals
                            and snacks. With options to cater to different dietary needs and preferences, the canteen
                            ensures that our students are well-nourished and ready to tackle their studies and
                            activities. <br><br><br></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card animate" style="--i:11">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-futbol"></i>
                        </div>
                        <h5 class="card-title">PLAY GROUND</h5>
                        <p class="card-text">Our playground offers a safe and enjoyable environment for students to play
                            and engage in physical activity including Karate. Whether they are playing football or
                            volleyball, the playground in the riverside of Kadalundi gives fresh air and a much-needed
                            break from studies and helps promote a healthy lifestyle. <br><br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{!-- <section id="feeds" class="pt-5 pb-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h2>Recent Updates</h2>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-6 text-end">
                <a href="/feeds-page">
                    <button class="btn">View More</button>
                </a>
            </div>
        </div>

        <div class="blog mt-5">
            <div class="row">
                {{#each feeds}}
                <div class="col-md-3">
                    <div class="blog-box">
                        <a href="/feeds/{{this._id}}">
                            <div class="blog-img">
                                <img src="/images/uploads/{{this.photo}}" class="mb-2" alt="#" />
                            </div>
                            <div class="blog-txt p-3">
                                <h2>{{this.title}}</h2>
                                <p>{{this.description}}</p>
                        </a>
                        <div class="date">
                            <hr>
                            <div class="d-flex">
                                <div class="flex-grow-1">
                                    <span>{{this.date}}</span>
                                </div>
                                <div class="social">
                                    <a href="https://www.facebook.com/profile.php?id=61552263635010"><i
                                            class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="https://www.youtube.com/@darulirfan8161"><i class="fa fa-youtube"
                                            aria-hidden="true"></i></a>
                                    <a href="https://whatsapp.com/channel/0029Va8uXSD9RZAXMrkoD43l"><i
                                            class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <hr>
                        </div>

                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section> --}}
{{!-- <section id="faculties">
    <div class="container text-center">
        <h2>Our Faculties</h2>
        <p>Faculties who are the backbone of our institution</p>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card">
                    <img src="/images/gpay.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<style>

</style>
<section id="princi-msg" class="pt-5 pb-5 sec-4">
    <div class="container row ps-5 pe-5 d-flex justify-content-center">
        <div class="col-md-3">
            <div>
                <img src="/images/principal-image.jpg" alt="">
                <strong>
                    <p class="mb-0 mt-4 pb-0">Abdunnaser Hudawi Payyanad <br>
                        Principal, Darul Irfan</p>
                </strong>
            </div>
        </div>
        <div class="col-md-7">
            <h2>Principal's Message</h2>
            <p class="">Darul Irfan Islamic Academy was founded in 2014 at Velluvangad, affiliated with
                Darul Huda Islamic University Chemmad, Kerala, India. Darul Irfan creates an academic and intellectual
                environment where Islamic religious education and modern forms of knowledge are integrated and applied
                together based on the contextual needs. We are honored and proud to have been a torchbearer of an
                integrated education system at least in the eastern Eranad context by making an impact on the community
                within a short period.
            </p>
            <a href="/about/principle-message">
                <button class="btn">Know More</button>
            </a>
        </div>
    </div>
</section>
<section id="gallery" class="pt-5 pb-5 sec-4">
    <div class="container text-center ">
        <h2>Gallery</h2>
        <p class="d-none d-md-block">Explore our event photo library and get a glimpse of the vibrant student life and
            diverse activities that
            take place at Darul Irfan Islamic Academy. The gallery showcases many facets of our college from academic
            events to cultural celebrations</p>
        <div class="row mt-5 g-3">
            {{#each photo}}
            <div class="animate col-md-3 position-relative" style="--i:{{@index}};">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/uploads/gallery/{{this.photo}}"
                        data-bs-toggle="modal" data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>{{this.title}}</h5>
                        <p>{{this.description}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
            <div>
                <a href="/gallery">
                    <button class="btn">View More</button>
                </a>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fa-solid fa-close"></i></button>
                    </div>
                    <div class="modal-body p-0">
                        <img id="modal-image">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="donation" class="pt-5 pb-5 sec-5">
    <div class="container text-center ">
        <h2>Sponser a Student</h2>
        <p class="d-none d-md-block">Sponsor a student at Darul Irfan Islamic Academy and help us provide a
            comprehensive education for those
            who need it most. Your contribution can make a world of difference in shaping the future of our students and
            the wider community.</p>
        <div class="row mt-5 g-4 ps-md-0 ps-5 pe-md-0 pe-5">
            <div class="col-md-3">
                <div class="price-card p-4 s-price animate" style="--i:1">
                    <h3>One Month</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>3500</h4>
                    </div>
                    <a href="/maintenance">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4 animate" style="--j:0">
                    <h3>Three Months</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>10500</h4>
                    </div>
                    <a href="/maintenance">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4 animate" style="--i:2">
                    <h3>Six Months</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>21000</h4>
                    </div>
                    <a href="/maintenance">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4 animate" style="--i:3">
                    <h3>One Year</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>42000</h4>
                    </div>
                    <a href="/maintenance">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function (toastEl) {
        var toast = new bootstrap.Toast(toastEl)
        toast.show()
        return toast
    })
</script>