<style>
    
</style>
<section class="" id="home">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/images/SLIDES/1.jpg" class="d-block w-100" alt="...">
                <div class="overlay" style="
        background-image: linear-gradient(0.35turn, #ff0000, #ffffff);">

                </div>
                <div class="carousel-caption mb-5 d-none d-md-block text-start">
                    <h2>First slide label</h2>
                    <p>Some representative placeholder content for the first slide.</p>
                    <a href="#">
                        <button class="btn">Read More</button>
                    </a>
                </div>

            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/SLIDES/2.jpg" class="d-block w-100" alt="...">
                <div class="overlay" style="
        background-image: linear-gradient(0.35turn, #ff7b00, #ffffff);">

                </div>
                <div class="carousel-caption mb-5 d-none d-md-block text-start">
                    <h2>Second slide label</h2>
                    <p>Some representative placeholder content for the first slide.</p>
                    <a href="#">
                        <button class="btn">Read More</button>
                    </a>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/images/SLIDES/3.jpg" class="d-block w-100" alt="...">
                <div class="overlay" style="
        background-image: linear-gradient(0.35turn, #00a2ff, #ffffff);">

                </div>
                <div class="carousel-caption mb-5 d-none d-md-block text-start">
                    <h2>Last slide label</h2>
                    <p>Some representative placeholder content for the first slide.</p>
                    <a href="#">
                        <button class="btn">Read More</button>
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="about pt-5" id="about">
    <div class="container ad-ad">
        <div class="about-div about-div-transition">
            <div class="row p-5">
                <div class="col-md-7 d-flex align-items-start flex-column mb-3" style="height: 500px;">
                    <div class="col-12 mb-auto">
                        <h1>About us</h1>
                    </div>
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat. Donec in sem pellentesque, fringilla quam a,
                            aliquam ipsum. Quisque ultrices dictum euismod. Integer ullamcorper nulla in.</p>
                        <a href="#">
                            <button class="btn">Know More</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 ms-auto d-none d-md-block">
                    <div class="about-vid">

                        <video src="/videos/Sibaq 22.mp4" controls loop autoplay muted
                            controlslist="nodownload nofullscreen noremoteplayback disablepictureinpicture"></video>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-5 pb-5" id="mvv">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-4">
                <div class="m-v-v text-center p-3">
                    <i class="fa-solid fa-bullseye"></i>
                    <h5>Our Mission</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula rutrum, eleifend
                        elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                        neque, quis pretium ipsum odio vel erat.</p>
                    <a href="#">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-v-v text-center p-3">
                    <i class="fa-solid fa-eye"></i>
                    <h5>Our Vision</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula rutrum, eleifend
                        elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                        neque, quis pretium ipsum odio vel erat.</p>
                    <a href="#">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="m-v-v text-center p-3">
                    <i class="fa-solid fa-gem"></i>
                    <h5>Our Values</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula rutrum, eleifend
                        elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                        neque, quis pretium ipsum odio vel erat.</p>
                    <a href="#">
                        <button class="btn">Know More</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="status" class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center status-item">
                <h2>300+</h2>
                <span></span>
                <p>Students</p>
            </div>
            <div class="col-md-4 text-center status-item">
                <h2>20+</h2>
                <span></span>
                <p>Teachers</p>
            </div>
            <div class="col-md-4 text-center status-item">
                <h2>40+</h2>
                <span></span>
                <p>Subjects</p>
            </div>
        </div>
    </div>
</section>
<section class="facilities-sec pt-5 pb-5" id="facilities">
    <div class="container text-center">
        <h2>Our Facilities</h2>
        <p>Facilities we provide to enpower Learning atmosphere</p>
        <div class="row pt-5 gy-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <h5 class="card-title">LIBRARY</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-computer"></i>
                        </div>
                        <h5 class="card-title">COMPUTER LAB</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-flask"></i>
                        </div>
                        <h5 class="card-title">SCIENCE LAB</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-tv"></i>
                        </div>
                        <h5 class="card-title">SMART CLASSROOMS</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-users"></i>
                        </div>
                        <h5 class="card-title">CONFERENCE HALL</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-brain"></i>
                        </div>
                        <h5 class="card-title">SKILL LAB</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-bookmark"></i>
                        </div>
                        <h5 class="card-title">RESOURCE HUB</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-headphones"></i>
                        </div>
                        <h5 class="card-title">AUDIO LAB</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-book-open-reader"></i>
                        </div>
                        <h5 class="card-title">RESEARCH AREA</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-mosque"></i>
                        </div>
                        <h5 class="card-title">GRAND MASJID</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-utensils"></i>
                        </div>
                        <h5 class="card-title">CANTEEN</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body pt-5 ps-3 pe-3 pb-4">
                        <div class="card-icon p-1">
                            <i class="fa-solid fa-futbol"></i>
                        </div>
                        <h5 class="card-title">PLAY GROUND</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut ligula
                            rutrum, eleifend
                            elit a, vestibulum massa. Vivamus tincidunt, neque ac fermentum viverra, orci nulla tempor
                            neque, quis pretium ipsum odio vel erat.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="feeds" class="pt-5 pb-5">
    <div class="container ">
        <div class="row">
            <div class="col-md-6">
                <h2>Recent Updates</h2>
                <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col-md-6 text-end">
                <a href="/feeds-page">
                    <button class="btn">View More</button>
                </a>
            </div>
        </div>

        <div class="blog mt-5">
            <div class="row">
                {{#each feeds}}
                <div class="col-md-3">
                    <div class="blog-box">
                        <a href="/feeds/{{this._id}}">
                        <div class="blog-img">
                            <img src="/images/uploads/{{this.photo}}" class="mb-2" alt="#" />
                        </div>
                        <div class="blog-txt p-3">
                            <h2>{{this.title}}</h2>
                            <p>{{this.description}}</p>
                            </a>
                            <div class="date">
                                <hr>
                                <div class="d-flex">
                                    <div class="flex-grow-1">
                                        <span>{{this.date}}</span>
                                    </div>
                                    <div class="social">
                                        <a href="https://www.facebook.com/profile.php?id=61552263635010"><i
                                                class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="https://www.youtube.com/@darulirfan8161"><i class="fa fa-youtube"
                                                aria-hidden="true"></i></a>
                                        <a href="https://whatsapp.com/channel/0029Va8uXSD9RZAXMrkoD43l"><i
                                                class="fa fa-whatsapp" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fa-solid fa-close"></i></button>
                    </div>
                    <div class="modal-body p-0">
                        <img id="modal-image">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="gallery" class="pt-5 pb-5">
    <div class="container text-center">
        <h2>Gallery</h2>
        <div class="row mt-5 g-3">
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/VI.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/VI.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 position-relative">
                <div>
                    <img class="grid-image grid-image-hover" src="/images/M.jpg" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" alt="">
                    <div class="image-description pt-3 position-absolute bottom-0 start-50 translate-middle-x">
                        <h5>Image Title</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>
                </div>
            </div>
            <div>
                <a href="">
                    <button class="btn">View More</button>
                </a>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn ms-auto" data-bs-dismiss="modal" aria-label="Close"><i
                                class="fa-solid fa-close"></i></button>
                    </div>
                    <div class="modal-body p-0">
                        <img id="modal-image">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section id="donation" class="pt-5 pb-5">
    <div class="container text-center">
        <h2>Sponser a Student</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="price-card p-4">
                    <h3>One Day</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>300</h4>
                    </div>
                    <a href="">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4 s-price">
                    <h3>One Month</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>3000</h4>
                    </div>
                    <a href="">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4">
                    <h3>One Year</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>30000</h4>
                    </div>
                    <a href="">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="price-card p-4">
                    <h3>Custom</h3>
                    <div class="price-round">
                        <h4><sup>₹</sup>___</h4>
                    </div>
                    <a href="">
                        <button class="btn ps-5 pe-5">Donate Now</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>