<style>
    .login-form {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin: 50px auto;
        max-width: 900px;
        padding: 20px;
    }

    .login-form h1 {
        font-size: 24px;
        margin-bottom: 20px;
        text-align: center;
    }

    .login-form label {
        display: block;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
        padding: 10px;
        width: 100%;
    }

    .login-form button[type="submit"] {
        background-color: #4CAF50;
        border: none;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
    }

    .login-form button[type="submit"]:hover {
        background-color: #3e8e41;
    }

    textarea {
        width: 100%;
        height: 600px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }

    .login-form img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .login-form #description {
        width: 100%;
        height: 80px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
        background-color: #f8f8f8;
        font-size: 16px;
        resize: none;
    }
</style>
<section>
    {{#if editFeed}}
    <form method="POST" action="/admin/edit-feed" class="login-form" enctype="multipart/form-data">
        <h1>Edit Feed</h1>
        <input type="hidden" name="id" value="{{editFeed._id}}">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="{{editFeed.title}}" required>

        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{editFeed.date}}" readonly>

        <label for="photo">Photo:</label>
        <input type="file" id="input_img" name="photo" onchange="fileChange()">
        <img id="img_preview" src="/images/uploads/{{editFeed.photo}}" alt="your image" class="pt-3 pb-3" />
        <img id="img_preview" src="#" alt="your image" style="display:none;" class="pt-3 pb-3" />

        <label for="description">Description:</label>
        <textarea id="description" name="description" maxlength="100" required>{{editFeed.description}}</textarea>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required>{{editFeed.content}}</textarea>

        <button type="submit"><i class="fa-solid fa-save"></i> Save</button>
    </form>
    {{else}}
    <form method="POST" action="/admin/add-feed" class="login-form" enctype="multipart/form-data">
        <h1>Add Feed</h1>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="date">Date:</label>
        <input type="text" id="date" name="date" value="{{dateNow}}" readonly>

        <label for="photo">Photo:</label>
        <input type="file" id="input_img" name="photo" onchange="fileChange()">

        <img id="img_preview" src="#" alt="your image" style="display:none;" class="pt-3 pb-3" />

        <label for="description">Description:</label>
        <textarea id="description" name="description" maxlength="100" required></textarea>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>

        <button type="submit"><i class="fa-solid fa-save"></i> Save</button>
    </form>
    {{/if}}

</section>
<script>
    function fileChange() {
        var reader = new FileReader();
        reader.onload = function (e) {

            document.getElementById("img_preview").src = e.target.result;
        };
        reader.readAsDataURL(document.getElementById("input_img").files[0]);
        document.getElementById("img_preview").style.display = "block";
    }
</script>