<style>
  .content {
    margin: 0 auto;
    width: 80%;
  }

  .content h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #42929d;
    font-weight: 600;
  }

  .content table {
    width: 100%;
    border-collapse: collapse;
  }

  .content table thead tr th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .content table tbody tr td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }

  .content table tbody tr td img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .content table tbody tr td i {
    font-size: 20px;
    background-color: #42929d;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .content table tbody tr td input {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .content table tbody tr td input:hover {
    background-color: #42929d;
  }

  .content table tbody tr td i:hover {
    background-color: #fff;
    color: #42929d;
  }

  .content button {
    background-color: #42929d;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #42929d;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
  }

  .content button:hover {
    border: 1px solid #42929d;
    background-color: #fff;
    color: #42929d;
    border-radius: 0px;
  }
</style>

<section class="pt-5 pb-5">
  <div class="content">
    <a href="/admin"><button><i class="fa-solid fa-arrow-left"></i> Back</button></a>
    {{#if feedPage}}
    <h1>View Feeds</h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Image</th>
          <th>Show Feed</th>
          <th>Delete Feed</th>
          <th>Add to Carousel</th>
          <th>Last Update Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each feeds}}
        <tr>
          <td>{{this.title}}</td>
          <td><img src="/images/uploads/{{this.photo}}" alt="Feed Image"></td>
          <td><a href="/admin/feeds/{{this._id}}"><i class="fa-solid fa-eye"></i></a></td>
          <td><a href="/admin/delete-feed/{{this._id}}"><i class="fa-solid fa-trash"></i></a></td>
          {{!-- <td><a href="/admin/edit-feeds/{{this._id}}"><i class="fa-solid fa-edit"></i></a></td> --}}
          <td><input type="checkbox"></td>
          <td>{{this.date}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <a href="/admin/add-feed"><button>Add New Feed</button></a>

    {{else if photoPage}}
    <h1>View Photos</h1>
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Delete Photo</th>
          <th>Last Update Date</th>
        </tr>
      </thead>
      <tbody>
        {{#each photos}}
        <tr>
          <td><img src="/images/uploads/gallery/{{this.photo}}" alt="Feed Image"></td>
          <td>{{this.title}}</td>
          <td><a href="/admin/delete-photo/{{this._id}}"><i class="fa-solid fa-trash"></i></a></td>
          {{!-- <td><a href="/admin/edit-feeds/{{this._id}}"><i class="fa-solid fa-edit"></i></a></td> --}}
          <td>{{this.date}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <a href="/admin/add-photo"><button>Add New Photo</button></a>
      
      {{else if formPage}}
      <h1>View Forms</h1>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>File</th>
            <th>Show Form</th>
            <th>Delete Form</th>
            <th>Last Update Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each forms}}
          <tr>
            <td>{{this.title}}</td>
            <td><a href="/images/uploads/forms/{{this.file}}" target="_blank">View File</a></td>
            <td><a href="/admin/forms/{{this._id}}"><i class="fa-solid fa-eye"></i></a></td>
            <td><a href="/admin/delete-form/{{this._id}}"><i class="fa-solid fa-trash"></i></a></td>
            {{!-- <td><a href="/admin/edit-feeds/{{this._id}}"><i class="fa-solid fa-edit"></i></a></td> --}}
            <td>{{this.date}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <a href="/admin/add-form"><button>Add New Form</button></a>
      
    {{/if}}
  </div>

</section>